<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="resetPassword">
                                    <h1>Reset Password</h1>


                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" name="password" formControlName="password"
                                            placeholder="Tape your password here" id="password" class="form-control"
                                            [ngClass]="{'is-valid': submited && resetPassword.controls.password.valid ,'is-invalid':submited && resetPassword.controls.password.invalid}">
                                        <div *ngIf="resetPassword.controls.password.errors"
                                            class="invalid-feedback d-block">

                                            <div *ngIf="resetPassword.controls.password.errors.required && submited">
                                                password is required.
                                            </div>
                                        </div>
                                    </div>



                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" name="passwordMatch" formControlName="passwordMatch"
                                            placeholder="Retape your password here" id="passwordMatch"
                                            class="form-control"
                                            [ngClass]="{'is-valid': submited && resetPassword.controls.passwordMatch.valid ,'is-invalid':submited && resetPassword.controls.passwordMatch.invalid}">

                                        <div *ngIf="resetPassword.controls.passwordMatch.errors"
                                            class="invalid-feedback d-block">
                                            <div
                                                *ngIf="resetPassword.controls.passwordMatch.errors.required && submited">
                                                passwordMatch is required.
                                            </div>
                                        </div>
                                        <div *ngIf="submited && resetPassword?.errors?.invalidPassword"
                                            class="invalid-feedback d-block">
                                            Password confirmation does not much.
                                        </div>
                                    </div>



                                    <div class="input-group row">
                                        <div class="input-group col-12">
                                            <button type="button" class="btn btn-primary btn-block"
                                                (click)="updatePassword()">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>