<!-- <div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="tagsForm">
                  <h2 class><p class="text-muted">Create Tag</p>
                  </h2>

                  <div class="mb-3">
                    <label for="name">
                      Name
                    </label>
                    <div for="name">
                      <input type="text" class="form-control" placeholder="Name" autocomplete="Name"
                        formControlName="name" id="name"
                        [ngClass]="{'is-valid': submited && tagsForm.controls.name.valid, 'is-invalid': submited && tagsForm.controls.name.invalid}">
                      <div *ngIf="tagsForm.controls.name.errors" class="invalid-feedback d-block">
                        <div *ngIf="tagsForm.controls.name.errors.required && submited">
                          Name is required ..
                        </div>
                        <div *ngIf="tagsForm.controls.name.errors.name && submited">
                          Name Format is required ..
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="mb-3">
                    <label for="description">
                      Description
                    </label>
                    <div for="description">
                      <textarea name="description" id="description" cols="mx-auto" rows="10"
                        class="form-control" placeholder="description"
                        autocomplete="current-description" formControlName="description" id="description">
                      </textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary btn-block" (click)="saveTag()">Save Tag</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div> -->



<div class="card-body">
  <div class="btn btn-secondary mr-1" data-toggle="modal" (click)="myModal.show()">
  </div>
</div>
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
