<div class="container">

    <div class="card-deck mt-3">
      <div class="card">
        <img *ngIf="event.photo != null && event.photo != undefined && event.photo !=''" 
                [src]="'http://localhost:3000/uploads/Events/' + event.photo"
                width="30" height="30"/>
        <div class="card-body">
          <h5 class="card-text"> Location:  {{ result?.location }}  </h5>
          <p class="card-text">Description:  {{ result?.description }} </p>
          <p class="card-text">start Date:  {{ result?.startDate }} </p>
          <p class="card-text">end Date:  {{ result?.endDate }} </p>
          <p class="card-text">start Time:  {{ result?.startTime }} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted"> Available Tickets Number:  {{ result?.availableTicketNumber }} </small>
        <div>
            <button class="btn btn-info my-2 text-white" [routerLink]="['/events/reservation', result?._id]">Reserver</button>
        </div>
        </div>
      </div>
    </div>
      
</div>