<div bsModal #eventModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Add a tag</h4>
        <button type="button" class="close" (click)="companyModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <form [formGroup]="eventsForm">
        <div class="modal-body">

          <!-- content body  (contain eventsForm)-->

          <h3 class="text-muted">Create new event</h3>


          <!-- Name -->
          <div class="mb-3">
            <label for="name">
              Name
            </label>
            <div for="name">
              <input type="text" class="form-control" placeholder="Events Name" autocomplete="name"
                formControlName="name" id="name"
                [ngClass]="{'is-valid': submited && eventsForm.controls.name.valid, 'is-invalid': submited && eventsForm.controls.name.invalid}">
              <div *ngIf="eventsForm.controls.name.errors" class="invalid-feedback d-block">
                <div *ngIf="eventsForm.controls.name.errors.required && submited">
                  Events name is required ..
                </div>
              </div>
            </div>
          </div>


          <!-- Description -->
          <div class="mb-3">
            <label for="description">
              Description
            </label>
            <div for="description">
              <textarea name="description" id="description" cols="mx-auto" rows="10" class="form-control"
                placeholder="description" autocomplete="current-description" formControlName="description"
                id="description"
                [ngClass]="{'is-valid': submited && eventsForm.controls.description.valid, 'is-invalid': submited && eventsForm.controls.description.invalid}">
                    <div *ngIf="eventsForm.controls.description.errors" class="invalid-feedback d-block">
                      <div *ngIf="eventsForm.controls.description.errors.required && submited">
                        description is required ..
                      </div>
                    </div>
                    </textarea>
            </div>
          </div>


          <!-- Start Date -->
          <div class="mb-3">
            <div class="animated fadeIn">
              <label for="startDate">
                Start Date
              </label>
              <input type="text" class="form-control" bsDatepicker formControlName="startDate" [minDate]="minDate1">
              <div class="invalid-feedback d-block">
                <div *ngIf="submitted && eventsForm.controls.startDate.hasError('required')">
                  Start date is required.</div>
              </div>
            </div>
            <!-- <div for="startDate">
              <input type="date" class="form-control" placeholder="startDate" autocomplete="startDate"
                formControlName="startDate" 
                #datepickerYMD="bsDatepicker"
                bsDatepicker 
                [ngClass]="{'is-valid': submited && eventsForm.controls.startDate.valid, 'is-invalid': submited && eventsForm.controls.startDate.invalid}">
              <div *ngIf="eventsForm.controls.startDate.errors" class="invalid-feedback d-block">
                <div *ngIf="eventsForm.controls.startDate.errors.required && submited">
                  Start Date is required ..
                </div>
              </div>
            </div> -->
          </div>


          <!-- Start Time -->
          <div class="mb-3">
            <div class="animated fadeIn">
              <label for="startTime">Start Time :</label>
              <timepicker [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian"
                [readonlyInput]="!isEnabled" formControlName="startTime"></timepicker>
              <div class="invalid-feedback d-block">
                <div *ngIf="submitted && eventsForm.controls.startTime.hasError('required')">
                  Start time is required.</div>
              </div>
            </div>
          </div>


          <!-- End Date -->
          <div class="mb-3">
            <div class="animated fadeIn">
              <label for="endDate">
                End Date
              </label>
              <input type="text" class="form-control" bsDatepicker formControlName="endDate" [minDate]="minDate2">
              <div class="invalid-feedback d-block">
                <div *ngIf="submitted && eventsForm.controls.endDate.hasError('required')">
                  End date is required.</div>
              </div>
            </div>
          </div>


          <!-- End Time -->
          <div class="mb-3">
            <div class="animated fadeIn">
              <label for="endTime">End Time :</label>
              <timepicker [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian"
                [readonlyInput]="!isEnabled" formControlName="endTime"></timepicker>
              <div class="invalid-feedback d-block">
                <div *ngIf="submitted && eventsForm.controls.endTime.hasError('required')">
                  Start time is required.</div>
              </div>
            </div>
          </div>


          <!-- Photo -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="file" class="form-control" name="photo" (change)="onFileSelect($event)" accept="image/*">
          </div>
          <div *ngIf="photoUrl" class="my-3 text-center">
            <img [src]="photoUrl" height="10%" width="10%" *ngIf="photoUrl">
          </div>


          <!-- Price -->
          <div class="mb-3">
            <label for="price">
              Price
            </label>
            <div for="price">
              <input type="text" class="form-control" placeholder="price" autocomplete="price" formControlName="price"
                id="price"
                [ngClass]="{'is-valid': submited && eventsForm.controls.price.valid, 'is-invalid': submited && eventsForm.controls.price.invalid}">
              <div *ngIf="eventsForm.controls.price.errors" class="invalid-feedback d-block">
                <div *ngIf="eventsForm.controls.price.errors.required && submited">
                  Price is required ..
                </div>
              </div>
            </div>
          </div>


          <!-- Available Tickets Number -->
          <div class="mb-3">
            <label for="availableTicketNumber">
              Available Ticket Number
            </label>
            <div for="availableTicketNumber">
              <input type="number" class="form-control" placeholder="availableTicketNumber"
                autocomplete="availableTicketNumber" formControlName="availableTicketNumber" id="availableTicketNumber"
                [ngClass]="{'is-valid': submited && eventsForm.controls.availableTicketNumber.valid, 'is-invalid': submited && eventsForm.controls.availableTicketNumber.invalid}">
              <div *ngIf="eventsForm.controls.availableTicketNumber.errors" class="invalid-feedback d-block">
                <div *ngIf="eventsForm.controls.availableTicketNumber.errors.required && submited">
                  Available Ticket Number is required ..
                </div>
              </div>
            </div>
          </div>


          <!-- Event Type -->
          <div class="mb-3">
            <label for="eventType">
              Event Type
            </label>
            <div for="eventType">
              <fieldset class="form-group">
                <ng-select formControlName="eventType" class="bootstrap" placeholder="Choose the Type" [options]="type"
                  [allowClear]="true" id="eventType"
                  [ngClass]="{'is-valid': submited && eventsForm.controls.eventType.valid, 'is-invalid': submited && eventsForm.controls.eventType.invalid}">
                  <div *ngIf="eventsForm.controls.eventType.errors" class="invalid-feedback d-block">
                    <div *ngIf="eventsForm.controls.eventType.errors.required && submited">
                      Events Type is required ..
                    </div>
                  </div>
                </ng-select>
              </fieldset>
            </div>
          </div>


          <!-- Location -->
          <div class="mb-3">
            <label for="location">
              Location
            </label>
            <div for="location">
              <input type="text" class="form-control" placeholder="location" autocomplete="location"
                formControlName="location" id="location"
                [ngClass]="{'is-valid': submited && eventsForm.controls.location.valid, 'is-invalid': submited && eventsForm.controls.location.invalid}">
              <div *ngIf="eventsForm.controls.location.errors" class="invalid-feedback d-block">
                <div *ngIf="eventsForm.controls.location.errors.required && submited">
                  Location is required ..
                </div>
              </div>
            </div>
          </div>

          <!-- ************ Tags **************** -->
          <fieldset class="form-group" *ngIf="tags.length">
            <ng-select class="bootstrap" placeholder="Choose your tags" [options]="tags" [multiple]="true"
              formControlName="tags"></ng-select>
          </fieldset>

          <!-- ************* End Tags ********************** -->
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-success" (click)="AddEvent()">
            <i class="fa fa-save"></i> Create An Events</button>
          <button type="button" class="btn btn-secondary btn-block text-white" (click)="eventModal.hide()">
            <i class="fa fa-close"></i> Close</button>
        </div>
      </form>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>All Events</strong>
    </div>
    <!-- End modal template -->
    <div class="card-body">

      <div class="row mb-3">
        <div class="col-md-4">
          <button type="button" class="btn btn-primary" data-toggle="modal" (click)="eventModal.show()">
            <i class="fa fa-plus"></i> Add Event
          </button>
        </div>
        <div class="col-md-4 offset-md-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search ..." />
          </div>
        </div>
      </div>

      <div style="overflow-x: auto">
        <table datatable [mfData]="events | search : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10"
          class="table table-striped table-hover table-responsive-lg display nowrap">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="photo">Photo</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="availableTicketNumber">Available Ticket Number</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="eventType">Events type</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="location">Locations</mfDefaultSorter>
              </th>
              <th class="center">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let event of mf.data">
              <td>{{ event.name }}</td>
              <td class="text-center">
                <!-- we have to create url photo to can display it and at the end we add event.photo -->
                <img *ngIf="event.photo != null && event.photo != undefined && event.photo !=''"
                  [src]="'http://localhost:3000/uploads/Events/' + event.photo" width="30" height="30" />
              </td>
              <td class="text-center">{{ event.availableTicketNumber }}</td>
              <td>{{ event.eventType }}</td>
              <td>{{ event.location }}</td>
              <td class="center">
                <button class="btn btn-success btn-sm" [routerLink]="['/events/update', event._id]">
                  <i class="fa fa-edit"></i> Update
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteEvent(event._id)">
                  <i class="fa fa-trash"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>

        </table>
      </div>
    </div>

  </div>
</div>