<ng-template #content let-modal>
  <!-- Title Modal -->
  <div class="modal-header">
    <h4 class="modal-title">Please Fill in this form To Add an Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- End Title of Modal -->



  <div class="modal-body">

    <!-- content body  (contain eventsForm)-->

    <div class="app-body">
      <main class="main d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mx-auto">
              <div class="card mx-4">
                <div class="card-body p-4">
                  <form [formGroup]="eventsForm">
                    <h1>Events Form</h1>
                    <p class="text-muted">Creat Events</p>


                    <div class="mb-3">
                      <label for="name">
                        Description
                      </label>
                      <div for="name">
                        <input type="text" class="form-control" placeholder="Events Name" autocomplete="name"
                          formControlName="name" id="name"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.name.valid, 'is-invalid': submited && eventsForm.controls.name.invalid}">
                        <div *ngIf="eventsForm.controls.name.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.name.errors.required && submited">
                            Events name is required ..
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="mb-3">
                      <label for="description">
                        Description
                      </label>
                      <div for="description">
                        <textarea name="description" id="description" cols="mx-auto" rows="10" class="form-control"
                          placeholder="description" autocomplete="current-description" formControlName="description"
                          id="description"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.description.valid, 'is-invalid': submited && eventsForm.controls.description.invalid}">
                    <div *ngIf="eventsForm.controls.description.errors" class="invalid-feedback d-block">
                      <div *ngIf="eventsForm.controls.description.errors.required && submited">
                        description is required ..
                      </div>
                    </div>
                    </textarea>
                      </div>
                    </div>




                    <div class="mb-3">
                      <label for="startDate">
                        Start Date
                      </label>
                      <div for="startDate">
                        <input type="datetime-local" class="form-control" placeholder="startDate"
                          autocomplete="startDate" formControlName="startDate" id="startDate"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.startDate.valid, 'is-invalid': submited && eventsForm.controls.startDate.invalid}">
                        <div *ngIf="eventsForm.controls.startDate.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.startDate.errors.required && submited">
                            Start Date is required ..
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="mb-3">
                      <label for="startTime">
                        Start Time
                      </label>
                      <div for="startTime">
                        <input type="datetime-local" class="form-control" placeholder="startTime"
                          autocomplete="startTime" formControlName="startTime" id="startTime"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.startTime.valid, 'is-invalid': submited && eventsForm.controls.startTime.invalid}">
                        <div *ngIf="eventsForm.controls.startTime.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.startTime.errors.required && submited">
                            Start Time is required ..
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="mb-3">
                      <label for="endDate">
                        End Date
                      </label>
                      <div for="endDate">
                        <input type="datetime-local" class="form-control" placeholder="endDate" autocomplete="endDate"
                          formControlName="endDate" id="endDate"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.endDate.valid, 'is-invalid': submited && eventsForm.controls.endDate.invalid}">
                        <div *ngIf="eventsForm.controls.endDate.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.endDate.errors.required && submited">
                            End Date is required ..
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="mb-3">
                      <label for="endTime">
                        End Time
                      </label>
                      <div for="endTime">
                        <input type="datetime-local" class="form-control" placeholder="endTime" autocomplete="endDate"
                          formControlName="endTime" id="endTime"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.endTime.valid, 'is-invalid': submited && eventsForm.controls.endTime.invalid}">
                        <div *ngIf="eventsForm.controls.endTime.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.endTime.errors.required && submited">
                            End Time is required ..
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="mb-3">
                      <label for="photo">
                        Photo
                      </label>
                      <div for="photo">
                        <input type="file" class="form-control" placeholder="photo" autocomplete="photo"
                          formControlName="photo" id="photo"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.photo.valid, 'is-invalid': submited && eventsForm.controls.photo.invalid}">
                        <div *ngIf="eventsForm.controls.photo.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.photo.errors.required && submited">
                            Photo is required ..
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="mb-3">
                      <label for="price">
                        Price
                      </label>
                      <div for="price">
                        <input type="text" class="form-control" placeholder="price" autocomplete="price"
                          formControlName="price" id="price"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.price.valid, 'is-invalid': submited && eventsForm.controls.price.invalid}">
                        <div *ngIf="eventsForm.controls.price.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.price.errors.required && submited">
                            Price is required ..
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="mb-3">
                      <label for="availableTicketNumber">
                        Available Ticket Number
                      </label>
                      <div for="availableTicketNumber">
                        <input type="number" class="form-control" placeholder="availableTicketNumber"
                          autocomplete="availableTicketNumber" formControlName="availableTicketNumber"
                          id="availableTicketNumber"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.availableTicketNumber.valid, 'is-invalid': submited && eventsForm.controls.availableTicketNumber.invalid}">
                        <div *ngIf="eventsForm.controls.availableTicketNumber.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.availableTicketNumber.errors.required && submited">
                            Available Ticket Number is required ..
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="mb-3">
                      <label for="eventType">
                        Event Type
                      </label>
                      <div for="eventType">
                        <fieldset class="form-group">
                          <ng-select formControlName="eventType" class="bootstrap" placeholder="Choose the Type"
                            [options]="type" [allowClear]="true" id="eventType"
                            [ngClass]="{'is-valid': submited && eventsForm.controls.eventType.valid, 'is-invalid': submited && eventsForm.controls.eventType.invalid}">
                            <div *ngIf="eventsForm.controls.eventType.errors" class="invalid-feedback d-block">
                              <div *ngIf="eventsForm.controls.eventType.errors.required && submited">
                                Events Type is required ..
                              </div>
                            </div>
                          </ng-select>
                        </fieldset>
                      </div>
                    </div>



                    <div class="mb-3">
                      <label for="location">
                        Location
                      </label>
                      <div for="location">
                        <input type="text" class="form-control" placeholder="location" autocomplete="location"
                          formControlName="location" id="location"
                          [ngClass]="{'is-valid': submited && eventsForm.controls.location.valid, 'is-invalid': submited && eventsForm.controls.location.invalid}">
                        <div *ngIf="eventsForm.controls.location.errors" class="invalid-feedback d-block">
                          <div *ngIf="eventsForm.controls.location.errors.required && submited">
                            Location is required ..
                          </div>
                        </div>
                      </div>
                    </div>




                    <button type="button" class="btn btn-block btn-success" (click)="AddEvent()">Create
                      An Events</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- End of EventsForm -->
    <!-- end content body -->
  </div>

  <!-- Footer contain close button -->
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
  <!-- End of Footer -->

</ng-template>

<!-- End modal template -->
<div class="card-body">
  <div class="row mb-3">
    <div class="col-md-4 offset-md-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <!-- <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/> -->
      </div>
    </div>
  </div>


  <h1>All Events</h1>
  <div style="overflow-x: auto">
    <table datatable class="table table-striped table-hover table-responsive-lg display nowrap">
      <thead>
        <tr>
          <th>name</th>
          <th>description</th>
          <th>startDate</th>
          <th>startTime</th>
          <th>endDate</th>
          <th>endTime</th>
          <th>photo</th>
          <th>price</th>
          <th>availableTicketNumber</th>
          <th>eventType</th>
          <th>location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.name }}</td>
          <td>{{ event.description }}</td>
          <td>{{ event.startDate }}</td>
          <td>{{ event.startTime }}</td>
          <td>{{ event.endDate }}</td>
          <td>{{ event.endTime }}</td>
          <td>{{ event.photo }}</td>
          <td>{{ event.price }}</td>
          <td>{{ event.availableTicketNumber }}</td>
          <td>{{ event.eventType }}</td>
          <td>{{ event.location }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Start display Events in array -->
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Add Event</button>