<div class="container">

    <div class="card-deck mt-3">
      <div class="card">
        <img *ngIf="result?.photo != null && result?.photo != undefined && result?.photo !=''" 
                [src]="'http://localhost:3000/uploads/Events/'+ result?.photo"
                width="100%" height="100%"/>
        <div class="card-body mb-3">
          <h5 class="card-text"> Location:  {{ result?.location }}  </h5>
          <p class="card-text">Description:  {{ result?.description }} </p>
          <p class="card-text">start Date:  {{ result?.startDate }} </p>
          <p class="card-text">end Date:  {{ result?.endDate }} </p>
          <p class="card-text">start Time:  {{ result?.startTime }} </p>
        </div>
        <div class="card-footer">
          <strong class="text-muted"> Company: <b> {{ result?.company.name }} </b></strong>
          <div *ngFor="let tag of result?.tags">
            <small class="text-muted badge bg-success"> Tags:  <b>{{ tag?.name }} </b></small>
          </div>
        <div>
            <button 
              class="btn btn-info my-2 text-white"
             [routerLink]="['/events/reservation', result?._id]">Reserver</button>
        </div>
        </div>
      </div>
    </div>
      
</div>