<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="addCompany">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Company Name" autocomplete="companyName"
                    formControlName="companyName" id="companyName"
                    [ngClass]="{'is-valid': submited && addCompany.controls.companyName.valid, 'is-invalid': submited && addCompany.controls.companyName.invalid}">
                  <div *ngIf="addCompany.controls.companyName.errors" class="invalid-feedback d-block">
                    <div *ngIf="addCompany.controls.companyName.errors.required && submited">
                      Company Name is required ..
                    </div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Company Description"
                    autocomplete="companyDescription" formControlName="companyDescription" id="companyDescription"
                    [ngClass]="{'is-valid': submited && addCompany.controls.companyDescription.valid, 'is-invalid': submited && addCompany.controls.companyDescription.invalid}">
                  <div *ngIf="addCompany.controls.companyDescription.errors" class="invalid-feedback d-block">
                    <div *ngIf="addCompany.controls.companyDescription.errors.required && submited">
                      Company Description is required ..
                    </div>
                  </div>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autocomplete="email"
                    formControlName="email" id="email"
                    [ngClass]="{'is-valid': submited && addCompany.controls.email.valid, 'is-invalid': submited && addCompany.controls.email.invalid}">
                  <div *ngIf="addCompany.controls.email.errors" class="invalid-feedback d-block">
                    <div *ngIf="addCompany.controls.email.errors.required && submited">
                      Company Email is required ..
                    </div>
                  </div>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" autocomplete="password"
                    formControlName="password" id="password"
                    [ngClass]="{'is-valid': submited && addCompany.controls.password.valid, 'is-invalid': submited && addCompany.controls.password.invalid}">
                  <div *ngIf="addCompany.controls.password.errors" class="invalid-feedback d-block">
                    <div *ngIf="addCompany.controls.password.errors.required && submited">
                      Password is required ..
                    </div>
                  </div>
                </div>


                <button type="button" class="btn btn-block btn-success" (click)="validateCompany()">Create
                  A Company</button>
              </form>
            </div>


          </div>
        </div>
      </div>
    </div>
  </main>
</div>