<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value text-center">Number of Company registred</div>
          <div class="text-center"><h3><strong>{{ info?.companys }}</strong></h3></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value text-center">Number of Events registred</div>
          <div class="text-center"><h3><strong>{{ info?.events }}</strong></h3></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value text-center">Number of Tags registred</div>
          <div class="text-center"><h3><strong>{{ info?.tags }}</strong></h3></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value text-center">Number of Users registred</div>
          <div class="text-center"><h3><strong>{{ info?.users }}</strong></h3></div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Images</h4>
          <div class="small text-muted">Images</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        
      </div>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <!--/.card-->
</div>
