<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="forgotPassword">
                  <h1>Frogot Password</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Tape your Email here" autocomplete="Email"
                      formControlName="email" id="email"
                      [ngClass]="{'is-valid': submited && forgotPassword.controls.email.valid, 'is-invalid': submited && forgotPassword.controls.email.invalid}">
                    <div *ngIf="forgotPassword.controls.email.errors" class="invalid-feedback d-block">
                      <div *ngIf="forgotPassword.controls.email.errors.required && submited">
                        Email is required ..
                      </div>
                      <div *ngIf="forgotPassword.controls.email.errors.email && submited">
                        Email Format is required ..
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <button type="button" class="btn btn-primary btn-block" (click)="resetPassword()">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>