<form [formGroup]="updateTagsForm">
    <h2 class>
      <p class="text-muted">Update Tag</p>
    </h2>
    <div class="mb-3">
      <label for="name">
        Name
      </label>
      <div for="name">
        <input type="text" class="form-control" placeholder="Name" autocomplete="Name" formControlName="name"
          id="name"
          [ngClass]="{'is-valid': submited && updateTagsForm.controls.name.valid, 'is-invalid': submited && updateTagsForm.controls.name.invalid}">
        <div *ngIf="updateTagsForm.controls.name.errors" class="invalid-feedback d-block">
          <div *ngIf="updateTagsForm.controls.name.errors.required && submited">
            Name is required ..
          </div>
          <div *ngIf="updateTagsForm.controls.name.errors.name && submited">
            Name Format is required ..
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="description">
        Description
      </label>
      <div for="description">
        <textarea name="description" id="description" cols="mx-auto" rows="10" class="form-control"
          placeholder="description" autocomplete="current-description" formControlName="description"
          id="description">
                        </textarea>
      </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary btn-block" (click)="updateTag()">Save Update</button>
    </div>
  </form>